<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25863242663-qqe0demr6c4piu6p7au3ddpdj6tdvs03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25863242663-qqe0demr6c4piu6p7au3ddpdj6tdvs03</string>
	<key>API_KEY</key>
	<string>AIzaSyA4kAnNlLMSzaANxoO1k5GbtrWk_sNI3ms</string>
	<key>GCM_SENDER_ID</key>
	<string>25863242663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamilwojcicki.SmartHome</string>
	<key>PROJECT_ID</key>
	<string>smarthome-914d2</string>
	<key>STORAGE_BUCKET</key>
	<string>smarthome-914d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:25863242663:ios:56756b6500314a4828ec82</string>
</dict>
</plist>
